.edit-area {
  padding: 20px;
  border: 2px solid #0b4d70;
  box-shadow: 6px 7px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.header {
  font-size: 16pt;
  text-align: center;
  font-weight: bold;
  margin: 10px 0px;
}

.header2 {
  font-size: 12pt;
  font-weight: bold;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  color: #0b4d70;
}

.warning {
  font-size: 0.7rem;
  color: red;
}

.input-label {
  font-size: 0.875rem;
  font-weight: 600;
  color: #000000;
}

.input-text {
  width: 70%;
  padding: 7px;
  border-radius: 5px;
  border: 2px solid #686767;
  display: block;
}
