html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  background-color: white;
  width: auto;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

button {
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 0.75rem;
}

header {
  border-bottom: 1px solid #0b4d70;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  gap: 50px 50px;
}