* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  margin: 0px;
  padding: 0px;
  outline: 0px;
  background-color: white;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

button {
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 0.75rem;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  border-bottom: 1px solid #0b4d70;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  padding-inline: 20px;
}

.flex {
  display: flex;
}

.align-start {
  align-items: start;
}
.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}
.justify-center {
  justify-content: center;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-container {
  display: grid;
  gap: 50px 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
