* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  margin: 0px;
  padding: 0px;
  outline: 0px;
  background-color: white;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

button {
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 0.75rem;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #0b4d70;
  background-color: white;
}

footer {
  display: flex;
  width: 100%;
  height: 3.75rem;
  background-color: #0b4d70;
  color: white;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

.min-height-100vh {
  min-height: 100vh;
}

/* layouting class START */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 20px;
}

.flex {
  display: flex;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}
.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-center {
  place-items: center;
}
/* layouting class END */

.back-logo {
  margin-top: 30px;
  color: #0b4d70;
}

.back-logo2 {
  color: #0b4d70;
}

.no-border {
  border: none;
}

.no-margin {
  margin: 0;
}

.padding-40 {
  padding: 2.5rem;
}

.padding-30 {
  padding: 1.875rem;
}

.padding-20 {
  padding: 1.25rem;
}

.padding-10 {
  padding: 0.625rem;
}

.padding-inline-20 {
  padding-inline: 1.25rem;
}

.test-div {
  border: 1px solid;
}

.not-active {
  display: none;
}

.grid-container {
  display: grid;
  gap: 50px 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
