.profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.profile-left {
  margin-block: 40px;
  padding: 20px 20px 20px 50px;
  gap: 50px;
  word-wrap: break-word;
  border: 1px solid #0b4d70;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.profile-image {
  height: 15.625rem;
  width: 15.625rem;
  border-radius: 50%;
  object-fit: cover;
}

.image-change-button {
  position: relative;
  gap: 10px;
  cursor: pointer;
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  background-color: #0b4d70;
  padding: 10px 20px;
  color: white;
  border-radius: 15px;
  border: 1px solid #0b4d70;
  top: 0;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.image-change-button:hover {
  top: -10px;
}

.logout-button {
  gap: 10px;
  cursor: pointer;
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  background-color: #c71313;
  padding: 10px 20px;
  color: white;
  border-radius: 15px;
  border: 1px solid #c71313;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.logout-button:hover {
  background-color: white;
  color: #c71313;
}

.primary-button {
  gap: 10px;
  cursor: pointer;
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  background-color: #0b4d70;
  padding: 10px 20px;
  color: white;
  border-radius: 15px;
  border: 1px solid #0b4d70;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.primary-button:hover {
  background-color: white;
  color: #0b4d70;
}

.notif-button {
  position: relative;
  border: 1px solid #0b4d70;
  background-color: white;
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: top 0.5s ease;
  top: 0;
}

.notif-button:hover {
  top: -10px;
}

.identity-title-1 {
  margin-block: 5px;
  font-size: 1.5rem;
  font-weight: 700;
}

.identity-title-2 {
  margin-block: 5px;
  color: #787878;
  font-size: 0.875rem;
  font-weight: 400;
}

.identity-content {
  margin: none;
  font-size: 1.125rem;
}

.profile-content {
  max-width: 21.875rem;
}

.profile-right {
  margin-block: 40px;
  padding: 20px;
  border: 1px solid #0b4d70;
  box-shadow: 6px 7px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.profile-desc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* area untuk modal show START */
.edit-area {
  padding: 20px;
  border: 2px solid #0b4d70;
  border-radius: 15px;
  width: 62.5rem;
}

.pwd-area {
  padding: 20px;
  border: 2px solid #0b4d70;
  border-radius: 15px;
  width: 30.5rem;
}

.edit-area::backdrop,
.pwd-area::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}
/* area untuk modal show END */

.header {
  font-size: 16pt;
  text-align: center;
  font-weight: bold;
  margin: 10px 0px;
}

.header2 {
  font-size: 12pt;
  font-weight: bold;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  color: #0b4d70;
}

.warning {
  font-size: 0.7rem;
  color: red;
}

.input-label {
  font-size: 0.875rem;
  font-weight: 600;
  color: #000000;
}

.input-text {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border: 2px solid #686767;
  display: block;
}

.input-pass {
  display: flex;
}

.input-pass > input {
  width: 100%;
  padding: 10px;
  display: block;
  border-radius: 5px 0 0 5px;
  border: 1px solid;
}

.input-pass > .eye {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  border-left: 0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.input-pass > .eye:hover {
  background-color: #343434;
  color: white;
  border-left: 0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
